<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <title></title>
    <style>
      body {
        background-image: url('dbms.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }
      </style>
    
  </head>
  <body>
    <div class="sidenav" >
      
      <div class="login-main-text">
         <h1 text-align: center
          > FUSION </h1>
          <br>
          <br>
          <br>
          
         <h2>E-Commerce platform</h2>
      </div>

   </div>
   <div class="main" >
      <div class="col-md-6 col-sm-12">
         <div class="login-form">
            <form class="tanny" action="/login" method="post">
               <div class="form-group">
                 <label>Username</label>
               </div>
               <input type="text" name="name"  placeholder="Enter the username" >
               <br>
               <br>
               <div class="form-group">
                 <label>Password</label>
               </div>
               <input type="text" name="password" placeholder="Enter the password" >
               <br>
               <br>
               <button type="submit" name="submit" value="" class="login">Login</button>
            </form>
            <br>
            <form class="" action="/new" method="post">
              <button type="submit" name="submit" class="sign">Signup</button>
             </form>
         </div>
      </div>
   </div>



  </body>
</html>








  


